/* blog.module.css */

.box1 {
    background-color: #f7f9fa;
}

.contentCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.blogPage {
    margin-bottom: 30px;
}

.title {
    font-weight: bold;
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 4.5em;
}

.blogContainer {
    border: 1px solid rgb(234, 224, 224);
    padding: 25px;
}

.pagination {
    margin-top: 49px;
}

.categoryTitle {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.categoryBar {
    background-color: black;
    color: white;
}

.categoryBar button {
    margin-right: 25px;
}

.loading {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15%;
}

.categoryBox {
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(234, 224, 224);
}
