.blog_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    padding: 16px;
}

.blog_card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    cursor: pointer;
}

.blog_card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.blog_card_border {
    padding: 16px;
    border-radius: 8px;
}

.blog_categories {
    display: block;
    color: #6a6f73;
    line-height: 120%;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 8px;
}

.author_name {
    font-size: 1.4rem;
    color: #6a6f73;
    margin-top: 19px;
    display: flex;
    align-items: center;
}

.align_middle {
    height: 50px;
    width: 1px;
    display: inline-block;
    vertical-align: middle !important;
}

.loading {
    text-align: center;
    font-size: 1.6rem;
}