.box1 {
    background-color: #f7f9fa;
}
.content-center {
    display: flex;
    justify-content: center;
    /* Căn giữa theo chiều ngang */
    align-items: center;
    /* Căn giữa theo chiều dọc */
    height: 100%;
    /* Chiều cao của container, có thể điều chỉnh tùy ý */

    /* Để dễ nhìn thấy container */
}

.blog-page {
    margin-bottom: 30px;
}

.title {
    font-weight: bold;
    font-size: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* Số dòng tối đa */
    -webkit-box-orient: vertical;
    height: 4.5em;
    /* Điều chỉnh chiều cao theo số dòng */
}

.blog-container {
    border: 1px solid rgb(234, 224, 224);
    padding: 25px;
}

.pagination {
    margin-top: 49px;
}

.category-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.category-bar {
    background-color: black;
    color: white;
}

.category-bar button {
    margin-right: 25px;

}

.loading {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 15%;
}
.category-box{
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(234, 224, 224);
}