.profileContainer {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  overflow: hidden;
}

.coverPhoto {
  position: relative;
  width: 100%;
  height: 300px;
}

.coverImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileAvatar {
  position: absolute;
  bottom: -75px;
  left: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
}

.profileHeader {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #c78b57;
}

.profileDetails {
  font-size: 16px;
  margin-top: 100px;
}

.profileDetailItem {
  margin-bottom: 8px;
  color: #666;
}

.editButton {
  float: right;
  margin-top: -40px;
  transition: background-color 0.3s ease;
}

.editButton:hover {
  background-color: #1890ff;
  color: white;
}
