.documentation_desktop_nav {
    display: block;
    border-right: 1px solid #d1d7dc;
    width: 20rem;
    transition: width 0.3s ease;
}

.active {
    background: #2d2f31;
    color: #fff;
}

.notActive {
    background: none;
    color: #6a6f73;
}

@media (max-width: 1024px) {
    .documentation_desktop_nav {
        width: 15rem;
    }
}

@media (max-width: 768px) {
    .documentation_desktop_nav {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #d1d7dc;
    }
}

@media (max-width: 480px) {
    .documentation_desktop_nav {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #d1d7dc;
    }

}