.about-course {
    padding: 5px;
}

.container h1 {
    font-weight: bold;
}

.info {
    background-color: lightblue;
    padding-top: 30px;
    color: rgba(0, 0, 0, 0.758);
    margin-top: 96px;
    margin-bottom: 96px;
}


.info p {

    padding-left: 15%;
    padding-right: 15%;
    padding-top: 15px;
    padding-bottom: 25px;
}

.info .infoRow {
    /* padding-left: 15%;
    padding-right: 15%; */
    font-size: 100px;
}

.info .infoRow .text-lg .col {
    font-size: 25px;
}



.checkNews {
    height: 50px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.skill {
    padding-top: 96px;
    padding-bottom: 96px;
}

.join {
    font-size: 25px;
}

.join .work {

    border-top: 9px solid red;
}

.join .research {
    border-top: 9px solid blue;
}

.join .blog {
    border-top: 9px solid purple;
}

.ColorLink {
    font-size: 20px;
    margin-top: 10px;
}

.ColorLink #red {
    color: red;
}

.ColorLink #blue {
    color: blue;
}

.ColorLink #purple {
    color: purple;
}

.infoRow .col {
    flex: 1 1 auto;
    text-align: center;
    margin: 2px;
    /* 2px spacing between columns */
    padding: 10px;
}

.infoRow .row1 {
    margin-top: 10px;
}


@media only screen and (max-width: 768px) {
    .about-course {
        max-width: 400px;
    }
}