.checkoutContainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.detailsContainer {
  padding: 20px;
  border-radius: 8px;
  margin-left: 50px;
}

.title {
  font-size: 35px;
  text-align: left;
  color: #2d3a38;
  letter-spacing: 1px;
  font-weight: bold;
}

.sectionTitle {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 10px;
  color: #2d3a38;
}

.description {
  color: #2d3a38;
  margin-left: 20px;
}

.paymentDetailsContent {
  max-width: 800px;
  margin: 0 auto;
}

.detailsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
}

.detailItem {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.detailLabel {
  color: #2d3a38;
  margin-left: 10px;
}

.detailValue {
  margin-top: 5px;
  margin-left: 10px;
}

.paymentMethod {
  margin-top: 20px;
}

.radioGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-left: 20px;
}
.empty_cart_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  box-shadow: 0 0 2px #d1d7dc;
  padding: 2rem;
  text-align: center;
  margin-top: 10px;
}
.paymentForm {
  margin-top: 20px;
  margin-left: 20px;
}

.payButton {
  width: 40%;
  display: block;
  margin-bottom: 10px;
}

.confirm {
  display: grid;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 50px;
  margin-left: 80px;
}

.terms {
  font-size: 12px;
  color: rgb(131, 127, 127);
}

.courseImage img {
  max-width: 100%;
  height: 100px;
  border-radius: 8px;
  margin-right: 15px;
  margin-left: 20px;
}

.courseDetails {
  display: flex;
  margin-bottom: 50px;
}

.summary {
  background-color: #f7f9fa;
}

.summaryTitle {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 90px;
  margin-left: 50px;
  color: #2d3a38;
}

.summaryDescription {
  color: #2d3a38;
  margin-top: 15px;
  margin-left: 80px;
}
