/* checkout.module.css */
.checkoutContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.detailsContainer {
  background-color: #f7f9fa;
  padding: 10px;
  border-radius: 8px;
}

.title {
  font-size: 30px;
  text-align: left;
  color: #b4daa7;
  letter-spacing: 1px;
  font-weight: bold;
  margin-left: 10px;
}

.sectionTitle {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: bold;
  color: #4a5a55;
}

.paymentDetailsContent {
  max-width: 800px;
  margin-left: 40px;
}

.courseImage {
  text-align: center;
  margin-bottom: 20px;
  max-width: 200px;
  height: auto;
}

.paymentForm {
  margin-top: 20px;
}

.payButton {
  width: 20%;
  margin: 0 auto;
  display: block;
  margin-top: 5px;
  margin-bottom: 50px;
}

.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.terms {
  font-size: 12px;
  color: rgb(131, 127, 127);
}

.paymentDetails {
  display: flex;
}

.courseDetails {
  margin-left: 200px;
}
