.footer {
  display: flex;
  justify-content: flex-start;
  background-color: #f0f0f0;
  padding: 2rem;
}

.footer .flexStart {
  align-items: flex-start;
}

.footer p {
  text-align: start;
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0.625rem;
}

.footer_copyright {
  display: flex;
  justify-content: center;
  margin-top: 0.125rem;
}

.footer a {
  text-decoration: none;
  color: #333;
}

.footer a:hover {
  text-decoration: underline;
}
