
:root {
    --primary-color: rgb(188, 194, 200);
  }


.note{
    color: var(--primary-color);
}

.Border{
 border-color: rgb(220, 227, 234);
}

.icon{
  font-size: 40px;
}
/* .BasicContent{
  margin: 2px;
  border: 1px solid black;
} */