.course-container {
    display: flex;
    flex-direction: column;
    width: 1500px;
    margin: 0 auto;
    background-color: rgb(62, 61, 60);
    color: white;
    padding: 2px;
    position: relative;
}

.course-card {
    display: flex;
    background-color: rgb(62, 61, 60);
    padding: 20px;
    margin-bottom: 5px;
}

.course-image {
    position: relative;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
    margin-top: 50px;
}

.course-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course-overlay img {
    width: 30px;
    height: 30px;
}

.course-info {
    flex: 1;
}

.course-title h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.bestseller {
    display: inline-block;
    background-color: #ffc107;
    color: #222;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 0px;
    font-size: 12px;
}

.course-description p {
    margin-bottom: 10px;
}

.course-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rating {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

.rating-count {
    font-size: 14px;
    color: #aaa;
}

.course-enrollment,
.course-language,
.course-update {
    margin-bottom: 10px;
}

.course-buttons {
    display: flex;
    gap: 10px;
}

.button {
    background-color: #ffc107;
    color: #222;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.button:hover {
    background-color: #000000;
    color: #ffc107;
}

.course-actions {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    margin-left: 75px;
}

.button.save,
.button.report-abuse {
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.button.save svg,
.button.report-abuse svg {
    width: 16px;
    height: 16px;
}

.course-stats {
    display: flex;
    position: absolute;
    bottom: 0;
    width: calc(100% - 10px);
    right: 0px;
    left: 0px;
    width: 0px;
}

.stat {
    margin-right: 10px;
    max-width: 80px;
}

.stat>span {
    margin-right: 10px;
}

.stat-button {
    background: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}


.course-navigation {
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 768px) {
    .course-container {
        max-width: 400px;
    }

    .course-card {
        max-width: 400px;
        flex-direction: column;
    }

    .course-info {
        margin-top: 1rem;
    }

    .course-actions {
        margin-top: 1rem;
    }

    .course-stats {
        display: none;
    }
}

@media (max-width: 1024px) {
    .course-container {
        max-width: 400px;
    }

    .course-card {
        max-width: 400px;
        flex-direction: column;
    }

    .course-info {
        margin-top: 1rem;
    }

    .course-actions {
        margin-top: 1rem;
    }

    .course-stats {
        display: none;
    }
}